* {
    margin: 0;
    padding: 0;
}

.all {
    display: flex;
    width: 1000px;
    justify-content: center;
    border-radius: 5px;
    border-color: black;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.w150 {
    width: 150px;
}

.w350 {
    width: 350px;
}

.w500 {
    width: 500px;
}

.h50 {
    height: 50px;
}

.h300 {
    height: 300px;
}

.bg_blue {
    background: blue;
}

.bg_db {
    background: darkblue;
}

.bg_deepsky {
    background: deepskyblue;
}

.bg_cadetblue {
    background: cadetblue;
}

.bg_bluevio {
    background: blueviolet;
}

.mider {
    display: flex;

}